<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>360 Image Viewer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/dist/styles/viewer.css" />

</head>

<body>
  <div id="viewer"></div>
  <script src="/dist/src/viewer.js" type="text/javascript"></script>
  <script type="text/javascript">
    displayImage('<%= imgUrl %>');
  </script>
</body>

</html>
