:host {
  display: block;
  height: 100%;
}

ion-col.attributes {
  background-color: lightgoldenrodyellow;
  border-width: 0.01em;
  border-style: solid;
  border-color: black;
}

ion-col.error {
  background-color: lightgoldenrodyellow;
  border-width: 0.01em;
  border-style: solid;
  border-color: black;
}


.header {
  text-align: center;
}

ion-content {
  height: calc(100% - 56px);
}
