:host {
  display: block;
}

/* This gets rid of the ion-menu-toggle added by webmapgl  */
gl-app ion-header ion-toolbar ion-buttons ion-menu-toggle {
  display: none;
}

.inMenuButton {
  --border-color: #424242;
  --background-hover: rgba(56, 128, 255, 0.08);
}

.inMenuButton .buttonText {
  color: #424242;
}
