<p>Authenticating via <%= method %></p>
<% if (error) { %>
  <p>Error during authentication: <%= JSON.stringify(errMessage) %></p>
  <p>Please attempt to <a href="/login">log in</a> again.</p>
<% } else {%>
  <p>Hello <%= user.name %></p>
  <% if (user?.emails?.length > 0) { %> With email(s):
    <ul>
      <% user.emails.forEach(function(emailObject) { %>
        <li><%= emailObject.type %>: <%= emailObject.email %></li>
      <% }); %>
    </ul>
  <% } %>
  <p>You are not authorized to use the Land Use Inventory Editor</p>
  <p>If you believe this to be in error please contact Fabian Junge at fjunge@ccrpc.org</p>
<% } %>
